/// The clearfix hack is a popular way to contain floats
/// without resorting to using presentational markup.
///
/// @link http://cssmojo.com/the-very-latest-clearfix-reloaded/

%ex-clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
